.form {
  background-color: var(--background-form);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
  margin-bottom: 40px;
}

.label {
  display: flex;
  justify-content: center;
  font-weight: 500;
  color: #333;
  margin-bottom: 8px;
}

.regInput {
  display: block;
  margin: 0 auto 16px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.2s;
}

.regInput:focus {
  border-color: var(--secondary-color); /* акцент на активное поле */
  outline: none;
}

.regBtn {
  display: block;
  background-color: #0066cc; /* синий акцентный цвет */
  margin: 0 auto;
  color: var(--text-secondary);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.2s;
}

.regBtn:hover {
  background-color: #005bb5; /* темнее при наведении */
}

/* Code */
